@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

.mainInsideSection{
    
    width: 100%;
    padding: 2vw 4vw;
}
.firstAbout{
padding: 5vw 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.twoText{
    padding:1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
   
}
.twoText::after, .twoText::before{
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    transform: rotate(35deg);
    background-color: #a4a4a47f;
    transition: all 0.4s ease;
    z-index: -1;
    filter: blur(2vw);
}
.twoText::before {
    left: -50%;
    
}

.twoText::after {
    right: -50%;
}

.twoText:hover::before {
    left: 0;
    
}

.twoText:hover::after {
    right: 0;
}
.twoText:hover .projectText{
    color: #31e400;
}

.projectText{
    font-size: var(--header-font);
    font-family: "Teko";
    color: var(--main-text);
    line-height: 5vw;
}
.projctPasag{
    font-family: "poppins";
    font-size: 0.9vw;
    color: var(--pasag-color);
}
.TopAbout{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 7vw 0 0 0;
}
.topleft{
    width: 50%;
   
   
}
.topText{
    font-size: var(--header-font);
    font-family: "Teko";
    color: var(--main-text);
}
.topPasag{
    font-family: "poppins";
    font-size: 0.9vw;
    color: var(--pasag-color);
    text-align: justify;
}
.topImages{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
    
}
.aboutMainimages{
    width: 45%;
    height: 25vw;
    border-radius: 10vw 10vw 0 10vw;
}
.middleAbout{
    display: flex;
    padding: 8vw 0 0 0;
}
.sideImages{
    width: 50%;
    position: relative;
    
}
.aboutText{
    position: absolute;
    top: -6vw;
    left: 2vw;
    font-size: var(--header-font);
    font-family: "teko";
    background-color: var(--main-color);
    color: var(--main-text);
    padding:0 1vw;
    border-radius: 1vw;
   
}
.secondAboutImages{
    width: 58%;
    height: 35vw;
}
.aboutText{
font-size: var(--header-font);
}
.rightPasag{
    width: 50%;
}
.middlePasag{
    font-family: "poppins";
    font-size: 0.9vw;
    color: var(--pasag-color);
    margin: 2vw 0;
}

@media only screen and (max-width:620px){
    .firstAbout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;

    }
    .twoText{
        width: 100%;
        margin: 0.5rem 0;
    }
    .projectText{
        font-size: 5rem;
        line-height: 5rem;
    }
    .projctPasag{
        font-size: 0.9rem;
    }
    .TopAbout{
        flex-direction: column;
    }
    .topleft{
        width: 100%;
    }
    .topText{
        font-size: 5rem;
    }
    .topPasag{
        font-size: 0.9rem;
    }
    .topImages{
        width: 100%;
        justify-content: start;
        align-items: start;
        padding: 1rem 1rem 1rem 0;
    }
    .aboutMainimages{
        width: 50%;
        height: 15rem;
    }
    .middleAbout{
        flex-direction: column;
        padding: 5rem 0;
    }
    .sideImages{

        width: 100%;
    }
    .secondAboutImages{
        width: 100%;
        height: auto;
    }
    .aboutText{
        font-size: 5rem;
        top: -5rem;
        left: 2rem;
        padding:0 0.8rem;
    }
    .rightPasag{
        width: 100%;
    }
    .middlePasag{
        font-size: 0.9rem;
        text-align: justify;
        margin: 1rem 0;
    }
}